.history-coin-wrapper {
  .after-heading-wrapper {
    padding-top: 30px;
  }

  .box-text {
    margin-bottom: 15px;
    margin-left: 5px;
    h3 {
      font-family: $font-codec-cold-trial-bold;
      font-size: 18px;
      letter-spacing: 0.45px;
      line-height: 27px;
      color: #fafafa;
      margin-bottom: 15px;
    }
    p {
      font-size: 15px;
      letter-spacing: 1.5px;
      line-height: 23px;
      color: #fafafa;
      margin-bottom: 8px;
    }
    a {
      font-family: $font-codec-cold-trial-bold;
      font-size: 12px;
      color: #ffb4cc;
      letter-spacing: 0.3px;
    }
  }

  .btn-pink {
    background-image: linear-gradient(to right, #8e176a, #e51f7c);
    border-color: #b51b72;
    padding: 7px;
  }

  .header-right img {
    height: 25px;
  }
  .box-coin {
      background-image: linear-gradient(to right, #552f9c, #2c1677);
      display: flex;
      color: #fff;
      padding: 4px 25px;
      .section-1 {
        display: inline;
        width: 50%;
        font-family: "Roboto";
        font-size: 16px;
        letter-spacing: 0.4px;
        margin-top: 3px;
      }
      .section-2 {
        display: inline;
        width: 50%;
        text-align: right;
        font-family: "Roboto";
        font-size: 20px;
        letter-spacing: 0.5px;
        font-weight: 200;
      }
  }

  .round-image {
    width: 150px;
    height: 150px;
    border-radius: 100%;
  }

  .profile-image-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
    max-width: 300px;
    margin: 0 auto 30px;
  }

  .dropzone {
    background: white;
    width: 60px;
    height: 60px;
    display: flex;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40px;
    right: 36px;
    justify-content: center;
    cursor: pointer;
  }

  .dropzone-data {
    margin: 5px auto 0;
  }

  .update-form-wrapper {
    padding-bottom: 73px;
  }

  .phone-holder {
    display: flex;
    justify-content: space-between;
  }

  .select-holder {
    flex: 0 0 15%;
  }

  .phone-input {
    flex: 0 0 83%;
  }

  .textbox {
    font-size: 15px;
  }

  .textbox,
  .title-textbox {
    font-family: $font-poppins-regular;
    color: $white;
    font-size: 11px;
    letter-spacing: 1.1px;
  }
  .password-holder {
    position: relative;
  }
  #show-hide-kata-sandi {
    position: absolute;
    right: 0;
    margin-top: -25px;
    z-index: 44;
    cursor: pointer;
  }
  #show-hide-kata-sandi:hover {
    opacity: .6;
  }
  .gcaptcha {
    padding: 30px;
    text-align: center;
    width: 100%;
    background-color: #eee;
  }
  .p-atau {
    color: #d1d2dc;
    font-size: 14px;
    letter-spacing: 1.53px;
    text-align: center;
    padding: 35px 0 15px;
  }
  .btn {
    letter-spacing: 0.75px;
    font-weight: 600;
  }

 ul.timeline {
    list-style-type: none;
    position: relative;
}
 ul.timeline:before {
    content: '';
    background: #232b58;
    display: inline-block;
    position: absolute;
    left: 4px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
 ul.timeline > li {
    margin: 20px 0 40px;
}
 ul.timeline > li:before {
    content: '';
    background: #232b58;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    left: -4px;
    width: 17px;
    height: 17px;
    z-index: 400;
}
 ul.timeline p {
    color: #ffb4cc;
    font-size: 12px;
    letter-spacing: 1.2px;
    line-height: normal;
}
ul.timeline p span {
  color: #fafafa;
  font-size: 14sp;
  letter-spacing: 1.4px;
}

.link-aturan {
  font-size: 13px;
  letter-spacing: 1.3px;
  color: #925afb;
  display: block;
  text-align: center;
  margin-bottom: 30px;
}

.box-tanda-tanya {
  padding: 1px 5px;
  background: #925afb;
  display: inline;
  color: #fff;
  font-size: 14px;
  font-family: "Roboto";
  border-radius: 50%/50%;
  margin-right: 10px;
}

}