.order-promo .content-wrapper .promo-wrapper .discount {
  font-size: 15px;
  text-align: initial;
  color: #fe2b87;
}
.order-promo .content-wrapper .promo-wrapper .btn-pink {
  font-size: 12px;
  padding: 6px 25px;
  margin-bottom: 12px;
}