.withdraw-success .payment-success-btn {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 15%;
  padding: 15px 29px;
  height: auto;
  font-weight: 600;
}

.withdraw-success a.btn.btn-white.c-violet {
  width: 100%;
  font-weight: bold;
  letter-spacing: 0.75px;
}

.withdraw-success .title {
  font-size: 26px;
  margin-top: 10px;
}

.withdraw-success .subtitle span {
  font-size: 16px;
  letter-spacing: 1.53px;
}
