.content-pembayaran {
    padding-top: 10px;
}
.box-promo-pembayaran {
    border: solid 1px #552f9c;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 15px;
}
.box-promo-pembayaran p {
    margin-bottom: 0;
    color: #fff;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 1.5px;
    text-align: left;
}
.box-promo-pembayaran a {
    color: #925afb;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.6px;
}
.content-pembayaran .form-group h4 {
    font-weight: 200;
    font-size: 15px;
    letter-spacing: 1.5px;
    line-height: 23px;
    color: #fafafa;
    margin-bottom: 0;
    margin-top: 5px;
}
.rincian-order-section {
    text-align: left;
}
.rincian-order-section h4 {
    font-family: $font-codec-cold-trial-bold;
    font-size: 18px!important;
    line-height: 37px!important;
    letter-spacing: 0.45px!important;
}
.rincian-order-section p {
    font-family: $font-poppins-regular;
    font-size: 11px!important;
    line-height: 18px!important;
    letter-spacing: 1.1px!important;
    color: #fff;
    margin-bottom: 3px;
    margin-top: 15px;
    font-weight: 200;
}
.rincian-order-section h5 {
    font-family: 'Poppins', sans-serif;
    font-size: 15px!important;
    line-height: 23px!important;
    letter-spacing: 1.5px!important;
    color: #fafafa;
    font-weight: 200;
}
.rincian-order-section-2 p {
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 0.5px;
    color: #fff;
    font-weight: 200;
    text-align: left;
}
.rincian-order-section-2 a {
    color: #a380e4;
    letter-spacing: 0.5px;
    font-weight: bold;
}