.splash-body {
  background: linear-gradient(203deg, rgba(253,34,129,1) 0%, rgba(161,26,110,1) 24%, rgba(121,22,102,1) 52%, rgba(253,34,129,1) 100%);
}

.splash-screen-wrapper {
  height: 100vh;
  background-color: #071143;
  overflow: auto;
}