.notification-detail {
  margin-top: 29px;

  color: $white;

  p {
    letter-spacing: 1.5px;
    margin-bottom: 0;
    border-bottom: dashed 1px rgba(250, 250, 250, .5);
    padding-bottom: 10px;
  }
  p.active {
    color: #ffb4cc;
  }
  small {
    font-size: 11px;
  }
  h3 {
    margin-bottom: 22px;
    letter-spacing: 0.45px;
    font-size: 18px;
    font-weight: 800;
  }

  h4 {
    margin-bottom: 4px;
    letter-spacing: 1.1px;
    font-size: 12px;
  }

  .detail-item {
    margin-bottom: 22px;
  }

  .small-text {
    margin-top: 5px;

    font-size: 12px;
  }
  .question a {
    letter-spacing: 1.2px;
  }
}